* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header {
    font-family: sans-serif;
    margin: 1rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    max-width: 100%;
}

.pic {
    border-radius: 50%;
}

h2 {
    text-transform: capitalize;
}

.customer {
    padding: 5px;
    margin: 5px;
    display: inline-block;
}

.email {
    font-size: 15px;
    color: rgb(124,	124, 124);
    margin-top: 3px;
    margin-bottom: 3px;	
}

.info {
    font-size: 17px;
}

.address {
    margin-top: 5px;
    margin-bottom: 5px;
}